.imgs {
  position: absolute;
  background-color: black;
}

.imgs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assest/Table.jpg");
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.img_1 {
  position: relative;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 2.5rem;
}
.weekend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekend::after {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;

  left: 0;
  width: 25rem; /* Adjust the width of the line as needed */
  height: 3px;
  background-color: #c39d63; /* Change the color of the line as needed */
}
.sat::after {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25rem; /* Adjust the width of the line as needed */
  height: 3px;
  background-color: #c39d63;
}
.btn_footer {
  background-color: rgb(195, 157, 99);
  font-size: 17px;
  border: none;
  letter-spacing: 1.3px;
  padding: 7px;
  color: white;
}

.form-1 {
  display: flex;
  flex-direction: column;
}
.form-1 input {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.query {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.query_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
