.fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-shadow: 3px 1px 7px black;
}

.Header {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.Heading {
  font-weight: 700;
  letter-spacing: 0.5;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
