.section4 {
  display: flex;
  position: relative;
  background-color: black;
  flex-direction: column;

  padding-left: 7rem;
  padding-right: 7rem;
  width: 84%;
}

.sec_A {
  background-color: white;
  display: flex;
}

.sec4_img {
  width: 33%;
}
